/**
			GENERAL STYLES
**/

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Light.ttf');
  font-style: normal;
  font-weight: 400px;
}

p, span, h1,h2,h3,h4,h5, li, a, strong {
	font-family: 'Josefin Sans', 'Helvetica Neue','Sans Serif';
}

.secondary {
 background-color: 	#0a0a0a !important;
}

.icon {
	vertical-align: middle;
	margin-right: 5px;
}

/**
			END GENERAL STYLES
**/

/**
			HEADER PAGE
**/

#menu-pp {
	padding-bottom: 0;
}

#menu-pp, #menu-pp .top-bar-right ul{
	background-color: #fefefe;
}

#menu-pp .top-bar-right ul li,
#menu-pp .top-bar-right ul li a{
	color: #0a0a0a;
	font-size: 20px;
}

#menu-pp .top-bar-right ul li a{
	border-bottom: 5px solid #fefefe;
}

#menu-pp .top-bar-right ul li a:hover{
	border-bottom: 5px solid #0a0a0a;
}


#main-image {
	background-image: url('../images/background.jpg');
	height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -50px;
    position: relative;
    z-index: -1;
}

#logo #logo-image{
	margin-top: 20vh;
	width: 300px;
}

#down-page {
	position: absolute;
	bottom: 20px;
	width: 100%;
}


@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

#down-page #down-icon {
	width: 50px;
	-moz-animation: bounce 2s infinite;
  	-webkit-animation: bounce 2s infinite;
  	animation: bounce 2s infinite;
}



/**
		END HEADER PAGE
**/

/**
		SECTIONS PAGE
**/

#main section {
	margin-bottom: 100px;
	padding: 20px 0;
}

#main section header {
	margin: 30px 0;
	border-bottom: 4px solid #0a0a0a;
}

#skills {
	background-color: #fdfdfd; 
}

#services {
	background-color: #f3f5f7;
}


#bio-card {
	padding: 0 50px;
}

#bio-card .card .thumbnail,
#bio-card .card .thumbnail img{
	border-radius: 50%;
}

#bio-card .card .media-object-section {
	margin: 30px 0;
}


.item-orbit-slide {
  padding: 2rem 4rem;
  color: #fefefe;
}

.item-orbit-slide p{
	font-size: 20px;
}

#python {
 background-color: #0a0a0a;
}

#php {
	background-color: #3b3b3b;
}

#react {
	background-color: #0a0a0a;
}

#foundation {
	background-color: #3b3b3b;
}

.card-services {
    background: #ffffff;
    box-shadow: 0px 3px 3px #ececec;
    margin-bottom: 30px;	
    margin-right: 5%;
}

.card-services  .card-services-img {
	padding: 10px;
	text-align: center;
}


.card-services  .card-services-text {
	padding: 0 10px 5px;
	overflow: hidden;
}

/**
 		END SECTION
**/


/** FOOTER **/

#main footer {
	background-color: #0a0a0a;
	color: #fefefe;
	margin-top: -100px;
}

#main footer .footer-intro {
	background-color: #313131;
	padding: 30px 0;
}

footer .grid-x .cell {
	margin-top: 20px;
}

footer .footer-list {
	list-style: none;
}

footer .footer-list li, footer .footer-list a{
	color: #fefefe;
}

footer .footer-list a{
	display: inline-block;
	padding: 5px 0;
}

/** 
MEDIA QUERY
**/

/* Small only */
@media screen and (max-width: 39.9375em) {

	#menu-pp .top-bar-right ul li {
		display: block;
		width: 100%;
	}
} 		